<ul id="sidenav-left" class="sidenav sidenav-fixed">
    <li><a href="#" class="logo-container">KCfeedback<i class="material-icons left">span</i></a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold waves-effect active"><a class="collapsible-header">Overview of Data<i
            class="material-icons chevron">chevron_left</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a routerLink="/home" class="waves-effect active">Dashboard<i class="material-icons">web</i></a></li>
                        <li><a href="#" class="waves-effect">Fixed Chart<i class="material-icons">list</i></a></li>
                        <li><a href="#" class="waves-effect">Grid<i class="material-icons">dashboard</i></a></li>
                    </ul>
                </div>
            </li>
            <li class="bold waves-effect"><a class="collapsible-header">Customers Demographics<i
            class="material-icons chevron">chevron_left</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#" class="waves-effect">State and City<i class="material-icons">show_chart</i></a></li>
                        <li><a routerLink="/agegroups" class="waves-effect">Age Groups<i class="material-icons">equalizer</i></a></li>
                        <li><a href="#" class="waves-effect">Area Charts<i class="material-icons">multiline_chart</i></a></li>
                        <li><a href="#" class="waves-effect">Doughnut Charts<i class="material-icons">pie_chart</i></a></li>
                        <li><a href="#" class="waves-effect">Financial Charts<i class="material-icons">euro_symbol</i></a></li>
                        <li><a href="#" class="waves-effect">Interactive Charts<i class="material-icons">touch_app</i></a></li>
                    </ul>
                </div>
            </li>
            <li class="bold waves-effect"><a class="collapsible-header">Tables<i
            class="material-icons chevron">chevron_left</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#" class="waves-effect">Fullscreen with Chart<i class="material-icons">show_chart</i></a></li>
                        <li><a href="#" class="waves-effect">Table with Custom Elements<i class="material-icons">settings</i></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="bold waves-effect"><a class="collapsible-header">Headers<i
            class="material-icons chevron">chevron_left</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#" class="waves-effect">Tabbed<i class="material-icons">tab</i></a></li>
                        <li><a href="#" class="waves-effect">Metrics<i class="material-icons">web</i></a></li>
                        <li><a href="#" class="waves-effect">Search<i class="material-icons">search</i></a></li>
                    </ul>
                </div>
            </li>
            <li class="bold waves-effect"><a class="collapsible-header">Account<i
            class="material-icons chevron">chevron_left</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#" class="waves-effect">Log In<i class="material-icons">person</i></a></li>
                        <li><a href="#" class="waves-effect">Settings<i class="material-icons">settings</i></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>
<div id="dropdown1" class="dropdown-content notifications">
    <div class="notifications-title">notifications</div>
    <div class="card">
        <div class="card-content"><span class="card-title">Joe Smith made a purchase</span>
            <p>Content</p>
        </div>
        <div class="card-action"><a href="#">view</a><a href="#">dismiss</a></div>
    </div>
    <div class="card">
        <div class="card-content"><span class="card-title">Daily Traffic Update</span>
            <p>Content</p>
        </div>
        <div class="card-action"><a href="#">view</a><a href="#">dismiss</a></div>
    </div>
    <div class="card">
        <div class="card-content"><span class="card-title">New User Joined</span>
            <p>Content</p>
        </div>
        <div class="card-action"><a href="#">view</a><a href="#">dismiss</a></div>
    </div>
</div>
<div id="chat-dropdown" class="dropdown-content dropdown-tabbed">
    <ul class="tabs tabs-fixed-width">
        <li class="tab col s3"><a routerLink="/login">Sign Out</a></li>
        <li class="tab col s3"><a href="#" class="active">Change Password</a></li>
    </ul>

</div>