<style>
    .input-field input[type=date]:focus+label,
    .input-field input[type=text]:focus+label,
    .input-field input[type=email]:focus+label,
    .input-field input[type=password]:focus+label {
        color: #3f51b5;
    }
    
    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
        border-bottom: 2px solid #3f51b5;
        box-shadow: none;
    }
</style>


<div class="container">

    <div class="masonry row">
        <div class="col s12">
            <h1>Dashboard</h1>
        </div>

        <div class="col s12">
            <div class="card">

                <div class="card-action">
                    <h3 style="text-align:center;">The count of the following items is as of January 24, 2020. Click on the three dots for today's values</h3>
                </div>
            </div>
        </div>


        <div class="col l3 m6 s12">


            <div class="card">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Submitted Forms<i class="material-icons right">more_vert</i></span>

                    <h3>Total: {{numberForm}}</h3>
                    <br> <br>
                    <p><a href="#">View Monthly Count</a></p>

                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Today's Forms<i class="material-icons right">close</i></span>
                    <h3>Total: {{numberFormToday}}</h3> <br> <br>
                    <p><a href="#">View Monthly Count</a></p>
                </div>
                <div class="card-chart">
                    <canvas id="flush-area-chart-blue" height="100px"></canvas>
                </div>
            </div>

        </div>
        <div class="col l3 m6 s12">
            <div class="card">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Graciously Greeted<i class="material-icons right">more_vert</i></span>
                    <h3>Yes: {{positiveGreeted}} </h3>
                    <h3>No: {{negativeGreeted}}</h3>
                    <p><a href="#">View Monthly Count</a></p>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Today's Values<i class="material-icons right">close</i></span>
                    <h3>Yes: {{items}} </h3>
                    <h3>No: {{GreetingPOToday}}</h3>
                    <p><a href="#">View Monthly Count</a></p>
                </div>
                <div class="card-chart">
                    <canvas id="flush-area-chart-pink" height="100px"></canvas>
                </div>
            </div>

        </div>
        <div class="col l3 m6 s12">
            <div class="card">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Dine with us Again<i class="material-icons right">more_vert</i></span>
                    <h3>Yes: {{dineAgainPositive}} </h3>
                    <h3>No: {{dineAgainNegative}} </h3>

                    <p><a href="#">View Monthly Count</a></p>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Today's Values<i class="material-icons right">close</i></span>
                    <h3>Yes: {{dineAgainPositive}} </h3>
                    <h3>No: {{dineAgainNegative}} </h3>
                    <p><a href="#">View Monthly Count</a></p>
                </div>
                <div class="card-chart">
                    <canvas id="flush-area-chart-green" height="100"></canvas>
                </div>
            </div>


        </div>
        <div class="col l3 m6 s12">

            <div class="card">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Quality of Food<i class="material-icons right">more_vert</i></span>

                    <h3>Excellent: {{ExcellentQualityFood}}</h3>
                    <h3>Poor: {{PoorQualityFood}} </h3>
                    <p><a href="#">View Monthly Count</a></p>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Today's Values<i class="material-icons right">close</i></span>

                    <h3>Excellent: {{numberFormToday}}</h3>
                    <h3>Poor: {{PoorQualityFood}} </h3>
                    <p><a href="#">View Monthly Count</a></p>
                </div>
                <div class="card-chart">
                    <canvas id="flush-area-chart-yellow" height="100"></canvas>
                </div>
            </div>



        </div>




        <div class="col s12">

            <div class="card">
                <div class="card-metrics card-metrics-toggle card-metrics-centered">
                    <div class="card-metric waves-effect active" data-metric="revenue">
                        <div class="card-metric-title">Revenue</div>
                        <div class="card-metric-value">$12,476.00</div>
                        <div class="card-metric-change">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div>
                    </div>
                    <div class="card-metric waves-effect" data-metric="users">
                        <div class="card-metric-title">Users</div>
                        <div class="card-metric-value">2024</div>
                        <div class="card-metric-change">
                            <i class="material-icons">keyboard_arrow_up</i> 9%
                        </div>
                    </div>
                    <div class="card-metric waves-effect" data-metric="ctr">
                        <div class="card-metric-title">CTR</div>
                        <div class="card-metric-value">0.20%</div>
                        <div class="card-metric-change">
                            <i class="material-icons">keyboard_arrow_up</i> 4%
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <canvas class="card-chart" id="main-toggle-line-chart" width="400" height="400"></canvas>
                </div>
            </div>

        </div>





        <div class="col m6 s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">What customers think about food prices?</div>
                    <div class="chart-wrapper">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                      </canvas>
                    </div>
                </div>
            </div>
        </div>


        <div class="col m6 s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Stacked Bar Chart</div>
                    <div class="chart-wrapper">
                        <canvas id="valueBarsCanvas">{{ valueBarsChart }}</canvas>
                    </div>
                </div>
            </div>

            <div class="col m6 s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">What People think about quality of prices?</span>
                        <div class="row row-vertical-center">
                            <div class="col s6">
                                <canvas id="doughnut-chart" width="50%"></canvas>
                            </div>
                            <div class="col s6">
                                <div class="chart-legend-wrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="masonry row">
            <div class="col s12">
                <h1>Forms Data</h1>
            </div>

            <div class=" input-field col m6 s12">
                <input type="text" matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter Search Item" />
            </div>

            <div class="col s12">
                <div class="card">
                    <div class=" input-field">
                        <input type="text" matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter Search Item" />
                    </div>
                    <div class="row-border" cellspacing="0" width="100%">
                        <mat-table [dataSource]="dataSource" matSort class="row-border">
                            <ng-container matColumnDef="Name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.Name}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="LastName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.LastName}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="State">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.State}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="City">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.City}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="MealPeriod">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>MealPeriod</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.MealPeriod}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="MainCourse">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>MainCourse</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.MainCourse}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="QualityofFood">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>QualityofFood</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.QualityofFood}} </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>

            </div>
        </div>
    </div>