<div class="container">
    <div class="masonry row">
        <div class="col s12">
            <h2>Dashboard</h2>
        </div>

        <div class="col s12">
            <div class="card">

                <div class="card-action">
                    <h6 style="text-align:center;">The count of the following items is as of January 24, 2020. Click on three dots for today's values</h6>
                </div>
            </div>
        </div>

        <div class="col l3 m6 s12">


            <div class="card">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">All Submitted Forms<i class="material-icons right">more_vert</i></span>

                    <h5>Total: {{numberForm}}</h5>
                    <br> <br>
                    <p><a href="#">View Monthly Count</a></p>

                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Today's Forms<i class="material-icons right">close</i></span>
                    <br>
                    <span class="card-title grey-text text-darken-4">Total: {{numberFormToday}}</span>
                    <p><a href="#">View Monthly Count</a></p>
                </div>
                <div class="card-chart">
                    <canvas id="flush-area-chart-blue" height="100px"></canvas>
                </div>
            </div>

        </div>
        <div class="col l3 m6 s12">


            <div class="card">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Graciously Greeted<i class="material-icons right">more_vert</i></span>

                    <h5>Yes: {{positiveGreeted}} </h5>
                    <h5>No: {{negativeGreeted}}</h5>
                    <p><a href="#">View Monthly Count</a></p>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Today's Forms<i class="material-icons right">close</i></span>
                    <br>
                    <span class="card-title grey-text text-darken-4">Total: {{numberFormToday}}</span>
                    <p><a href="#">View Monthly Count</a></p>
                </div>
                <div class="card-chart">
                    <canvas id="flush-area-chart-pink" height="100px"></canvas>
                </div>
            </div>

        </div>
        <div class="col l3 m6 s12">
            <div class="card">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Dine with us Again<i class="material-icons right">more_vert</i></span>

                    <h5>Yes: {{dineAgainPositive}} </h5>
                    <h5>No: {{dineAgainNegative}} </h5>
                    <p><a href="#">View Monthly Count</a></p>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Today's Forms<i class="material-icons right">close</i></span>
                    <br>
                    <span class="card-title grey-text text-darken-4">Total: {{numberFormToday}}</span>
                    <p><a href="#">View Monthly Count</a></p>
                </div>
                <div class="card-chart">
                    <canvas id="flush-area-chart-green" height="100"></canvas>
                </div>
            </div>


        </div>
        <div class="col l3 m6 s12">

            <div class="card">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Quality of Food<i class="material-icons right">more_vert</i></span>

                    <h5>Excellent: {{ExcellentQualityFood}}</h5>
                    <h5>Poor: {{PoorQualityFood}} </h5>
                    <p><a href="#">View Monthly Count</a></p>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Today's Forms<i class="material-icons right">close</i></span>
                    <br>
                    <span class="card-title grey-text text-darken-4">Total: {{numberFormToday}}</span>
                    <p><a href="#">View Monthly Count</a></p>
                </div>
                <div class="card-chart">
                    <canvas id="flush-area-chart-yellow" height="100"></canvas>
                </div>
            </div>



        </div>

        <div class="col s12">

            <div class="card">
                <div class="card-metrics card-metrics-toggle card-metrics-centered">
                    <div class="card-metric waves-effect active" data-metric="revenue">
                        <div class="card-metric-title">Revenue</div>
                        <div class="card-metric-value">$12,476.00</div>
                        <div class="card-metric-change">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div>
                    </div>
                    <div class="card-metric waves-effect" data-metric="users">
                        <div class="card-metric-title">Users</div>
                        <div class="card-metric-value">2024</div>
                        <div class="card-metric-change">
                            <i class="material-icons">keyboard_arrow_up</i> 9%
                        </div>
                    </div>
                    <div class="card-metric waves-effect" data-metric="ctr">
                        <div class="card-metric-title">CTR</div>
                        <div class="card-metric-value">0.20%</div>
                        <div class="card-metric-change">
                            <i class="material-icons">keyboard_arrow_up</i> 4%
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <canvas class="card-chart" id="main-toggle-line-chart" width="400" height="400"></canvas>
                </div>
            </div>

        </div>

        <div class="col m6 s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Updates</span>
                    <ul class="badge-updates">
                        <li>
                            <span class="new badge red" data-badge-caption="refund"></span>
                            <span class="message">45$ refunded to Alan Chang</span>
                            <span class="time">14 minutes ago</span>
                        </li>
                        <li>
                            <span class="new badge green" data-badge-caption="purchase"></span>
                            <span class="message">45$ from Alan Chang</span>
                            <span class="time">14 minutes ago</span>
                        </li>
                        <li>
                            <span class="new badge red" data-badge-caption="refund"></span>
                            <span class="message">45$ refunded to Alan Chang</span>
                            <span class="time">14 minutes ago</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col m6 s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Stacked Bar Chart</div>
                    <div class="chart-wrapper">
                        <canvas id="stacked-bar-chart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col m6 s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Devices</span>
                    <div class="row row-vertical-center">
                        <div class="col s6">
                            <canvas id="doughnut-chart" width="50%"></canvas>
                        </div>
                        <div class="col s6">
                            <div class="chart-legend-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="masonry row">
        <div class="col s12">
            <h2>Customers Data</h2>
        </div>

        <div class="col m6 s12">
            <div class="card">
                <div id='calendar'></div>
            </div>
        </div>

        <div class="col s12">
            <div class="card">
                <table id="default-table-example" class="row-border" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of coffeeOrders">
                            <td>{{ order.payload.doc.data().Name }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngFor="let order of coffeeOrders">
                            <td>{{ order.payload.doc.data().Email}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>33</td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>